body {
  background-color: black;
  font-family: "Alegreya Sans SC", sans-serif;
  display: grid;
  overflow-x: hidden;
  height: 2000px; }

#logo {
  width: 150px;
  margin: 10px 0 0 10px; }

h1 {
  color: white;
  text-align: center;
  display: flex;
  opacity: 0.8;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  grid-column: 4 / 11;
  grid-row: 2 / 3;
  margin: -30px 0 0 -40px; }

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px; }

.planets {
  display: grid;
  grid-column: 2 / 4;
  grid-row: 4 / 8;
  text-decoration: none;
  margin: 20px 0 0 0;
  width: 100px; }

.box_1, .box_2, .box_3, .box_4, .box_5, .box_6, .box_7, .box_7, .box_8, .box_9 {
  box-sizing: border-box;
  color: white;
  font-weight: 100;
  opacity: 0.4;
  letter-spacing: 3px;
  text-decoration: none; }

.box_1, .box_2, .box_3, .box_4, .box_5, .box_6, .box_7, .box_7, .box_8, .box_9:hover a {
  opacity: 0.4;
  text-decoration: none; }

.box_1:hover {
  opacity: 1; }

.box_2:hover {
  opacity: 1; }

.box_3:hover {
  opacity: 1; }

.box_4:hover {
  opacity: 1; }

.box_5:hover {
  opacity: 1; }

.box_6:hover {
  opacity: 1; }

.box_7:hover {
  opacity: 1; }

.box_8:hover {
  opacity: 1; }

.box_9:hover {
  opacity: 1; }

#mars, #merc, #mars, #moon, #earth, #venus, #jupiter, #pluto, #uranus, #saturn, #neptune {
  width: 35px;
  height: 35px;
  background-size: auto 100% !important;
  border-radius: 100px;
  box-shadow: 0 -13px 10px 2px black inset;
  display: flex;
  content: "";
  z-index: 2;
  margin: -25px 0 0 -50px; }

#info {
  width: auto;
  height: 80%;
  grid-column: 5 / 9;
  grid-row: 4 / 9; }

table {
  border-collapse: collapse;
  border-spacing: 2px;
  width: 60%;
  margin: 0 0 0 70px;
  display: table;
  color: white;
  font-size: 18px;
  display: table;
  border-collapse: separate;
  grid-column: 7 / 12;
  grid-row: 10 / 12;
  animation: glitch 4s infinite; }

th {
  font-weight: 100; }

tbody {
  width: 600px;
  height: 220px;
  box-sizing: inherit;
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  text-align: left;
  color: white; }

.anim {
  text-align: center;
  padding-top: 100px;
  font-weight: 100;
  color: #FFF;
  font-size: 18px; }

.anim::after {
  position: absolute;
  content: attr(data-text);
  bottom: 0;
  left: 0;
  color: #fff;
  background-color: #242423;
  width: 100%;
  visibility: hidden;
  animation: glitch 4s infinite; }

.anim:hover::after {
  animation: clip 4s infinite; }

@keyframes glitch {
  30% {
    text-shadow: 4px -4px 0px #3c55ff; }
  32% {
    text-shadow: -4px 4px 0px #ff5500; }
  0%, 28%, 34% {
    text-shadow: none; }
  31%,32% {
    transform: translate(-7px, 7px); }
  32%,33% {
    transform: translate(7px, -7px); }
  31%,33% {
    transform: translatex(0); }
  50% {
    text-shadow: 4px 4px 0px #3c55ff; }
  52% {
    text-shadow: -4px -4px 0px #ff5500; }
  48%, 54% {
    text-shadow: none; }
  49%,52% {
    transform: translatex(0); }
  50% {
    transform: translate(7px, 7px); }
  51% {
    transform: translate(-7px, -7px); } }
@keyframes clip {
  28%, 31% {
    clip: none;
    left: 0;
    visibility: visible;
    color: #FFF; }
  30% {
    clip: rect(60px, 999px, 80px, 0px);
    left: -5px;
    color: #D1C9B8; }
  48%, 52% {
    clip: none;
    left: 0;
    visibility: visible;
    color: #FFF; }
  50% {
    clip: rect(30px, 999px, 55px, 0px);
    left: 5px;
    color: #D1C9B8; } }
h2 {
  color: white;
  text-align: center;
  margin: -40px 0 0 0;
  opacity: 0.8;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 54px !important;
  grid-column: 6/7;
  grid-row: 2 / 3;
  animation: glitch 4s infinite; }

#column_1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
  opacity: 0.7;
  display: grid;
  grid-column: 3 / 6;
  grid-row: 13 / 15;
  text-align: justify; }

#column_2 {
  color: white;
  width: 350px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.7;
  grid-column: 8 / 12;
  grid-row: 13 / 15;
  margin: 30px 0 0 -50px;
  text-align: justify; }

.globe {
  width: 300px;
  height: 300px;
  margin: -50px 0 0 0;
  grid-column: 3 / 6;
  grid-row: 10 / 13;
  margin: 0 0 0 20px;
  background: url("../img/uranus.png") repeat;
  background-size: 184px 92px;
  box-shadow: inset 50px 0px 70px black;
  border-radius: 100%;
  animation: animate 6s linear infinite;
  transform: rotate(-15deg); }

@keyframes animate {
  from {
    background-position: 184px 0; } }
@keyframes space-animation {
  from {
    background-position-y: -100%; } }
#copyright {
  width: 400px;
  color: white;
  opacity: 0.5;
  font-weight: 100;
  grid-column: 9 / 13;
  grid-row: 18 / 19;
  font-size: 12px; }

@media only screen and (max-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%; }

  .planets {
    position: relative;
    top: 78%;
    left: 20%; }

  h1 {
    font-size: 18px;
    margin: 0 0 0 -50%; }

  h2 {
    margin: 0 0 0 -80%; }

  #info {
    top: 50%;
    left: 10%;
    position: absolute;
    height: 30%; }

  table {
    margin: 110% 0 0 10%;
    width: 80%;
    position: absolute; }

  .globe {
    position: absolute;
    margin: 180% 0 0 20%; }

  #column_1 {
    position: absolute;
    top: 180%;
    left: 15%;
    font-size: 12px; }

  #column_2 {
    top: 215%;
    left: 25%;
    font-size: 12px;
    position: absolute; }

  #copyright {
    display: none; } }
@media only screen and (max-width: 768px) {
  main {
    display: grid;
    width: 100%; }

  .planets {
    position: relative;
    top: 78%;
    left: 20%; }

  h1 {
    font-size: 18px;
    margin: 0 0 0 -50%; }

  h2 {
    margin: 0 0 0 -80%; }

  #info {
    top: 50%;
    left: 10%;
    position: absolute;
    height: 40%; }

  table {
    margin: 110% 0 0 10%;
    width: 80%;
    position: absolute; }

  .globe {
    position: absolute;
    margin: 150% 0 0 20%; }

  #column_1 {
    position: absolute;
    top: 190%;
    left: 23%;
    font-size: 12px; }

  #column_2 {
    top: 222%;
    left: 30%;
    font-size: 12px;
    position: absolute; }

  #copyright {
    display: none; } }

/*# sourceMappingURL=uranus.css.map */
